body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}


/* 
<main>
        <section id="car-list">
            <h2>Viaturas Disponíveis para o stick 35 em 10</h2>
            <div id="car-container"></div>
        </section>
    </main>
*/
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    place-items: center;
}

#car-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

.card {
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    text-align: center;
    margin: 0 0 10px;
}

.card p {
    text-align: center;
    margin: 5px 0;
}

.card button {
    text-align: center;
    background: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.card button:hover {
    background: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
